#root {
  background: rgb(17,90,143);
background: linear-gradient(0deg, rgba(17,90,143,1) 0%, rgba(154,212,254,1) 100%);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}